/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --second-background-color: rgb(0, 0, 0);
    --font-text-color: rgb(0, 0, 0);
    --main-background-color: rgb(255, 255, 255);
    --card-container-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --emblem-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --card-font-weight: 400;
    --card-subtitle-font-weight: 700;
    --bg: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%); 
    --fill-color: rgb(255, 0, 0);
    --like-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
  }
  
  :root.theme-dark {
    --second-background-color: rgb(0, 204, 20);
    --main-background-color: rgb(0, 0, 0);
    --font-text-color: rgb(0, 204, 20);
    --card-container-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --emblem-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --card-font-weight: 465;
    --card-subtitle-font-weight: 785;
    --bg: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #007f0c 0%, #004306 0.01%, #1a1a1a 100%); 
    --text-color: rgb(0, 204, 20);
    --like-color: rgb(0, 204, 20);
    --fill-color: rgb(255, 0, 0);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
        --second-background-color: rgb(0, 204, 20);
        --main-background-color: rgb(0, 0, 0);
        --font-text-color: rgb(0, 204, 20);
        --card-container-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
        --emblem-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
        --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
        --card-font-weight: 465;
        --card-subtitle-font-weight: 785;
        --bg: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(180deg, #004306 0%, #004306 0.01%, #1a1a1a 100%); 
        --text-color: rgb(0, 204, 20);
        --like-color: rgb(0, 204, 20);
        --fill-color: rgb(255, 0, 0);
    }
  }
  