/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: "Inter", sans-serif;
    --accent-font: "PressStart2P", "fantasy";
    --card-font-weight: 400;
    --font-text-color: rgb(0, 0, 0);
    --card-subtitle-font-weight: 700;
    --second-background-color: rgb(0, 0, 0);
    --main-background-color: rgb(255, 255, 255);
    --bg: repeating-linear-gradient(to right, rgb(231, 231, 231) 2px, transparent 4px),
      repeating-linear-gradient(to bottom, rgb(231, 231, 231) 2px, transparent 4px),
      linear-gradient(to bottom, rgb(231, 231, 231) 0%, rgb(231, 231, 231) 0.01%, rgb(26, 26, 26) 100%);
    --card-container-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --emblem-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --button-text-color: var(--main-background-color);
    --fill-color: rgb(255, 0, 0);
    --like-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
  }
  